@media only screen and (max-width: 576px) {

* {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

/* font-family: 'DM Sans', sans-serif; */

.button {
    background: #F1B505;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
    padding: 13px 55.5px 11px;
    display: inline-block;
}

.button-plus {
    display: inline-block;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}


/* .rectangle-1 start */
.desktop-nav {
    display: none;
}

.rectangle-1 {
    padding: 0 15px;
    height: 800px;
}

.mobile-nav {
    margin-bottom: 31px;
    display: block;
}

.navbar .toggle-btn {
    cursor: pointer;
}

.dropdown-menu {
    display: block;
    left: 15px;
    width: unset;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    align-items: center;
}

.rectangle-1 h4 {
    line-height: 32px;
    text-transform: uppercase;
    font-size: 24px;
}


/* hero start */
.desktop-hero-img {
    display: none;
}

.hero-text {
    margin-top: 0;
}

.mobile-hero-img {
    display: block;
}

.rectangle-1 h2 {
    width: 258px;
    margin-bottom: 19px;
}

.rectangle-1 h5 {
    margin-bottom: 5px;
}

.rectangle-1 p {
margin-bottom: 25px;
}
/* hero finish */

/* .rectangle-1 finish */



/* rectangle-2 start */

.rectangle-2 {
    padding: 42px 15px 80px;
}

.rectangle-2-cards {
    margin-top: 50px;
    display: block;
}

.card-2 {
    margin-bottom: 16px;
}

.card-2 p {
    width: 100%;
}


/* rectangle-2 finish */




/* rectangle-3 start */
.rectangle-3 {
    padding: 63px 15px 57px;
}

.header-3 h5 {
    margin-bottom: 19px;
    width: 100%;
}

.header-3 h3 {
    margin-bottom: 31px;
    width: 100%;
}

.header-3 p {
    width: 100%;
}

.mobile-clip-img {
    width: 100%;
    display: block;
}

.desktop-clip-img {
    display: none;
}

.content-3 h4 {
    font-size: 24px;
    line-height: 32px;
    width: 194px;
    margin-bottom: 23px;
    margin-top: 0;
}

.content-3 p {
    margin-bottom: 18px;
}

.top-3 {
    display: block;
}

.down-3 {
    display: block;
}
/* rectangle-3 finish */



/* rectangle-4 start */
.rectangle-4 {
    padding: 63px 15px 0;
}

.rectangle-4 h5 {
    margin-bottom: 19px;
}

.rectangle-4 h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
}

.rectangle-4 p {
    width: 100%;
}

.img-woman-4 {
    background-image: url('../img/mobile-home/rectangle-4/woman.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 512px;
    padding: 31px 0 0 30px;
    position: relative;
    top: 33px;
}

.img-woman-4 p {
    margin-bottom: 3px;
}

.img-woman-4 h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 22px;
    width: 265px;
}
/* rectangle-4 finish */



/* rectangle-5 start */
.rectangle-5 {
    padding: 122px 15px 62px;
}

.rectangle-5-imgs {
    flex-direction: column;
    gap: 16px;
}

.erroribus {
    background-image: url('../img/mobile-home/rectangle-5/statue.png');
    padding: 31px 0 0 30px;
}

.dog {
    background-image: url('../img/mobile-home/rectangle-5/dog.png');
    padding: 31px 0 0 30px;
}

.rectangle-5 .btn {
    margin-bottom: 0;
}

.mobile-clip-img-5 {
    display: block;
    width: 100%;
}

.desktop-clip-img-5 {
    display: none;
}                    

.under-part-5 {
    display: block;
}

.under-part-5 h3 {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 31px;
}

.under-part-5 p {
    margin-bottom: 46px;
}

.tacimates p {
    margin-bottom: 26px !important;
}

.text-5 {
    display: block;
}

.text-5 h4 {
    margin: 16px 0 23px;
}
/* rectangle-5 finish */




/* rectangle-6 start */
.content-6 {
    padding: 63px 15px 64px;
}

.content-6 h5 {
    margin-bottom: 19px;
}

.content-6 h3 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
    width: 100%;
}

.content-6 p {
    margin-bottom: 24px;
    width: 100%;
}

.mobile-bitmap {
    display: block;
    width: 100%;
}

.desktop-bitmap {
    display: none;
}

/* rectangle-6 finish */




/* rectangle-7 start */
.rectangle-7 {
    padding: 47px 15px 80px;
}

.header-7 h2 {
    font-size: 40px;
    line-height: 48px;
    margin: 19px 0 31px;
}

.header-7 {
    margin-bottom: 52px;
}

.header-7 p {
    width: 100%;
}

.staff-cards-7 {
    display: block;
}

.staff-7 {
    margin-bottom: 16px;
}

.staff-7:last-child {
    margin-bottom: 0;
}

.cards-7 {
    gap: 16px;
}

.card-7 {
    width: 100%;
}
/* rectangle-7 finish */





/* rectangle-8 start */

.rectangle-8 {
    padding: 80px 15px 57px;
    align-items: flex-start;
}

.arrows-8 {
    margin-top: 80px;
}

.content-8 {
    width: 287px;
}

.for-mobile {
    display: block;
}

.for-mobile img {
    margin-bottom: 33px;
}

/* rectangle-8 finish */



/* rectangle-9 start */
.rectangle-9 {
    padding: 63px 15px 80px;
}

.rectangle-9 h5 {
    margin-bottom: 19px;
}

.rectangle-9 h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
}

.rectangle-9 p {
    width: 100%;
}

.promo-9 {
    flex-direction: column;
    gap: 33px;
    margin-bottom: 66px;
}

/* rectangle-9 finish */





/* rectangle-10 start */

.rectangle-10 {
    padding: 46px 15px 48px;
}

.tittle-btn-10 {
    margin: 19px 0 38px;
    display: block;
}

.tittle-btn-10 .button {
    display: none;
}

.tittle-btn-10 h2 {
    font-size: 40px;
    line-height: 48px;
}

.cards-10 {    
    gap: 16px;
    margin-bottom: 48px;
}

.card-10 {
    padding: 32px 32px 21px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.297017);
    border-radius: 5px;
    background: #fff;
    width: 100%;
}

.desktop-img-10 {
    display: none;
}

.mobile-img-10 {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.btn .button {
    background: none;
    border: 1px solid #434CCC;
    padding: 13px 54.5px 11px;
    color: #434CCC;
}

.rectangle-10 .btn {
    text-align: center;
}
/* rectangle-10 finish */





/* rectangle-11 start */
.rectangle-11 {
    padding: 62px 15px 84px;
    display: block;
}

.cards-11 {
    flex-direction: column;
    flex-wrap: nowrap;
}

/* content-11 */
.content-11 {
    display: block;
    margin-bottom: 48px;
}


/* cards-11 */
.desktop-11-img {
    display: none;
}

.mobile-11-img {
    display: block;
}

.mobile-11-img img {
    display: block;
    width: 100%;
}

/* rectangle-11 finish */






/* rectangle-12 start */
.rectangle-12 {
    padding: 63px 15px 16px;
    position: static;
}

.content-12 {
    width: 100%;
}

.content-12 h5 {
    margin-bottom: 19px;
}

.content-12 h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 31px;
}

.content-12 p {
    margin-bottom: 36px;
}

.email-12 {
    display: block
}

.email-12 .button {
    background: #434CCC;
    padding: 13px 45.5px 11px;
}

.email-12 input {
    width: 100%;
    outline: none;
    margin-bottom: 16px;
}


.content-12 img {
    position: static;
}

.mobile-img-12 {
    display: block;
}

.desktop-img-12 {
    display: none;
}

/* rectangle-12 finish */





/* rectangle-13 start */
.rectangle-13 {
    padding: 80px 15px 64px;
    display: block;
}

.img-13 {
    width: 100%;
}

.message-13 {
    margin-top: 47px;
    width: 100%;
}

.message-13 h2 {
    font-size: 40px;
    line-height: 48px;
    margin: 19px 0 38px;
}

.mobile-map-13 {
    display: block;
    width: 100%;
}

.desktop-map-13 {
    display: none;
}
/* rectangle-13 finish */





/* footer start */

.footer-top {
    padding: 72px 15px 55px;
    display: block;
}

.content-footer {
    width: 100%;
    margin-bottom: 80px;
}

.content-footer p {
    padding: 23px 0 7px;
}

.footer-list {
    margin-bottom: 73px;
}

.footer-top-right {
    width: 100%;
}

.footer-down {
    padding: 27px 15px 29px;
    display: block;
}

.footer-down p {
    font-family: 'DM Sans', sans-serif;
    line-height: 24px;
    color: #00000080;
}
/* footer finish */

}
